<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все пользователи</title>
</head>
<body>
<form th:action="@{/logout}" method="POST">
    <button id="send" type="submit">Выйти</button>
</form>
<a href="/" th:href="@{/}">Главная страница</a>
<span th:text="${student.getFirstname()}"></span>
<span th:text="${student.getLastname()}"></span>
<span th:text="${student.getStudentGroup()}"></span>
<table border="1">
    <thead>
    <tr>
        <th>Деканат</th>
        <th>Выпускающая кафедра</th>
        <th>Бухгалтерия</th>
        <th>Общежитие</th>
        <th>Институт</th>
        <th>ЦПТ</th>
        <th>ОМПиКБ</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <a th:if="${student.getIndebtednesses().get('Деканат')}" th:href="@{'/checklist/' + ${student.getIndebtednesses().get('Деканат').id}}">Есть</a>
            <span th:unless="${student.getIndebtednesses().get('Деканат')}">Нет</span>
        </td>
        <td>
            <a th:if="${student.getIndebtednesses().get('Выпускающая кафедра')}" th:href="@{'/checklist/' + ${student.getIndebtednesses().get('Выпускающая кафедра').id}}">Есть</a>
            <span th:unless="${student.getIndebtednesses().get('Выпускающая кафедра')}">Нет</span>
        </td>
        <td>
            <a th:if="${student.getIndebtednesses().get('Бухгалтерия')}" th:href="@{'/checklist/' + ${student.getIndebtednesses().get('Бухгалтерия').id}}">Есть</a>
            <span th:unless="${student.getIndebtednesses().get('Бухгалтерия')}">Нет</span>
        </td>
        <td>
            <a th:if="${student.getIndebtednesses().get('Общежитие')}" th:href="@{'/checklist/' + ${student.getIndebtednesses().get('Общежитие').id}}">Есть</a>
            <span th:unless="${student.getIndebtednesses().get('Общежитие')}">Нет</span>
        </td>
        <td>
            <a th:if="${student.getIndebtednesses().get('Институт')}" th:href="@{'/checklist/' + ${student.getIndebtednesses().get('Институт').id}}">Есть</a>
            <span th:unless="${student.getIndebtednesses().get('Институт')}">Нет</span>
        </td>
        <td>
            <a th:if="${student.getIndebtednesses().get('ЦПТ')}" th:href="@{'/checklist/' + ${student.getIndebtednesses().get('ЦПТ').id}}">Есть</a>
            <span th:unless="${student.getIndebtednesses().get('ЦПТ')}">Нет</span>
        </td>
        <td>
            <a th:if="${student.getIndebtednesses().get('ОМПиКБ')}" th:href="@{'/checklist/' + ${student.getIndebtednesses().get('ОМПиКБ').id}}">Есть</a>
            <span th:unless="${student.getIndebtednesses().get('ОМПиКБ')}">Нет</span>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>