<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список студентов</title>
</head>
<body>
<form th:action="@{/logout}" method="POST">
    <button id="send" type="submit">Выйти</button>
</form>
<a href="/" th:href="@{/}">Главная страница</a>
<table border="1">
    <thead>
    <tr>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Группа</th>
        <th>Деканат</th>
        <th>Выпускающая кафедра</th>
        <th>Бухгалтерия</th>
        <th>Общежитие</th>
        <th>Институт</th>
        <th>ЦПТ</th>
        <th>ОМПиКБ</th>
        <th>Задолжность</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td><span th:text="${student.getFirstname()}"></span></td>
        <td><span th:text="${student.getLastname()}"></span></td>
        <td><span th:text="${student.getStudentGroup()}"></span></td>
        <td>
            <h4 th:if="${student.getIndebtednesses().get('Деканат')}">Есть</h4>
            <span th:unless="${student.getIndebtednesses().get('Деканат')}">Нет</span>
        </td>
        <td>
            <h4 th:if="${student.getIndebtednesses().get('Выпускающая кафедра')}">Есть</h4>
            <span th:unless="${student.getIndebtednesses().get('Выпускающая кафедра')}">Нет</span>
        </td>
        <td>
            <h4 th:if="${student.getIndebtednesses().get('Бухгалтерия')}">Есть</h4>
            <span th:unless="${student.getIndebtednesses().get('Бухгалтерия')}">Нет</span>
        </td>
        <td>
            <h4 th:if="${student.getIndebtednesses().get('Общежитие')}">Есть</h4>
            <span th:unless="${student.getIndebtednesses().get('Общежитие')}">Нет</span>
        </td>
        <td>
            <h4 th:if="${student.getIndebtednesses().get('Институт')}">Есть</h4>
            <span th:unless="${student.getIndebtednesses().get('Институт')}">Нет</span>
        </td>
        <td>
            <h4 th:if="${student.getIndebtednesses().get('ЦПТ')}">Есть</h4>
            <span th:unless="${student.getIndebtednesses().get('ЦПТ')}">Нет</span>
        </td>
        <td>
            <h4 th:if="${student.getIndebtednesses().get('ОМПиКБ')}">Есть</h4>
            <span th:unless="${student.getIndebtednesses().get('ОМПиКБ')}">Нет</span>
        </td>
        <td>
            <a href="/" th:href="@{indebtedness(id=${student.getId()})}">Посмотреть</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>